Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*
HeaderFilterRegex: "^(include|src|tests)/"
FormatStyle: file
